.Countdown {
  font-family: 'Covik Sans Mono_Regular';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown-col {
  background-color: #282c34;
  color: white;
  border-radius: 10px;

  flex: 0 0 250px;
  margin: 10px;
}

.numbers {
  font-weight: 800;
  font-size: 144px;
  font-variant-numeric: tabular-nums;
}

.text {
  font-size: 18px;
  color: white;
  padding-bottom: 20px;
}

.red > .countdown-col > .numbers {
  color: #c70039;
}

@media only screen and (max-width: 1024px) {
  .countdown-col {
    flex: 0 0 calc(25% - 20px);
  }

  .numbers {
    font-size: 96px;
  }
}

@media only screen and (max-width: 768px) {
  .numbers {
    font-size: 72px;
  }
}

@media only screen and (max-width: 500px) {
  .countdown-col {
    flex: 0 0 calc(50% - 40px);
  }
}
