@font-face {
  font-family: 'Covik Sans Mono_Regular';
  src: url('./fonts/Covik_Sans_Mono-Regular.woff') format('woff'),
    url('./fonts/Covik_Sans_Mono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Covik Sans Mono_Bold';
  src: url('./fonts/Covik_Sans_Mono-Bold.woff') format('woff'),
    url('./fonts/Covik_Sans_Mono-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  font-family: 'Covik Sans Mono_Bold';
  color: #282c34;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h1 > span {
  border-bottom: 1px solid #282c34;
}

@media only screen and (max-width: 1024px) {
  .content {
    margin: auto 50px;
  }

  h1 {
    font-size: calc(10px + 2vmin);
  }
}

@media only screen and (max-width: 768px) {
  .content {
    margin: auto 10px;
  }

  h1 {
    padding: 0 20px;
  }
}
