}


body,
html,
#root {
  height: 100%;
  display: grid;
}

.App {
  color: #282c34;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h1 > span {
  border-bottom: 1px solid #282c34;
}
