@font-face {
  font-family: 'Covik Sans Mono_Regular';
  src: url('./fonts/Covik_Sans_Mono-Regular.woff') format('woff'),
    url('./fonts/Covik_Sans_Mono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Covik Sans Mono_Bold';
  src: url('./fonts/Covik_Sans_Mono-Bold.woff') format('woff'),
    url('./fonts/Covik_Sans_Mono-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html,
#root {
  height: 100%;
  display: grid;
}

.App {
  font-family: 'Covik Sans Mono_Bold';
  color: #282c34;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h1 > span {
  border-bottom: 1px solid #282c34;
}
